<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Results</title>
</head>
<body>
  <p>Your word: <%= @attempt %></p>
  <p>Time Taken to answer: <%= @result[:time] %></p>
  <p>Your score: <%= @result[:score] %></p>
  <p>Message: <%= @result[:message] %></p>
  <br>
  <br>
  <%= link_to "Play again", new_path %>
</body>
</html>